.header {
  font-size: 1.4rem;
  height: 6.5rem;
  background-color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 3.25rem;
  margin-left: 5rem;
}

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch;
  gap: 1.25rem;
}

.user-nav > * {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

.user-nav__icon {
  width: 4rem;
  height: 4rem;
  background-color: var(--color-light-gray);
  border-radius: 50%;
  padding: 0.7rem;
  fill: var(--color-light-gray3);
}

.user-nav__menu1,
.user-nav__menu2,
.user-nav__menu3 {
  color: var(--color-light-gray4);
  text-decoration: none;
  font-weight: 600;
  gap: 1.25rem;
  padding: 0 2rem;
}

.user-nav__user {
  gap: 1.25rem;
  margin-right: 5rem;
  padding: 0 2rem;
}

.user-nav__user:hover,
.user-nav__menu1:hover,
.user-nav__menu2:hover,
.user-nav__menu3:hover {
  color: var(--color-main-text-dark);
  background-color: var(--color-background);
  border-top: 0.3rem solid var(--color-main-coral);
}

.user-nav__user-photo {
  width: 4rem;
  border-radius: 50%;
}

.user-nav__user-name {
  font-weight: 600;
}

/* SEARCH */
