<header class="header">
  <img
    src="../../assets/jucimoly_logo.png
      "
    alt="jucimoly-logo"
    class="logo"
  />
  <app-search></app-search>
  <nav class="user-nav">
    <a href="" class="user-nav__menu1">
      <span class="user-nav__menu1-title">Olvasmányaim</span>
    </a>
    <a href="" class="user-nav__menu2">
      <span href="" class="user-nav__menu2-title">Menu2</span>
    </a>
    <a href="" class="user-nav__menu3">
      <span href="" class="user-nav__menu3-title">Menu3</span>
    </a>
    <div class="user-nav__icon-box">
      <svg class="user-nav__icon">
        <use xlink:href="../../assets/sprite.svg#icon-plus"></use>
      </svg>
    </div>
    <div class="user-nav__user">
      <img
        src="../../assets/profilepic.jpeg"
        alt="User photo"
        class="user-nav__user-photo"
      />
      <span class="user-nav__user-name"> Jucus </span>
    </div>
  </nav>
</header>
