/* You can add global styles to this file, and also import other style files */
:root {
  --color-beige: #faf0e6;
  --color-beige-dark: #faebd7;
  --color-background: #f7f7f6;
  --color-background2: #f4f3ec;
  --color-main-coral: #ff7179;
  --color-main-yellow: #ffd337;
  --color-main-text: #929292;
  --color-main-text-dark: #414141;
  --color-light-gray: #f4f2f2;
  --color-light-gray2: #dddcdcda;
  --color-light-gray3: #a3a3a3;

  --shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /*1rem = 10px */
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-main-text);

  background-color: var(--color-main-yellow) /*var(--color-background2)*/;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
